APP_HOST=0.0.0.0
APP_PORT=3000
DATABASE_URL=
INITIA_CHAIN_ID=aegis-guard
INITIA_LCD=http://localhost:1317
INITIA_RPC=http://localhost:26657
INITIA_WS=ws://localhost:26657/websocket
INITIA_JSON_RPC=https://jsonrpc-evm-1.anvil.asia-southeast.initia.xyz
SEPOLIA_JSON_RPC=https://ethereum-sepolia-rpc.publicnode.com
ANTHROPIC_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME="Guardian Alerts"
KNOWN_PROTOCOLS=
GUARDIAN_POLICY_CONTRACT_ADDRESS=init1qg5ega6dykkxc307y25pecuufrjkxkaggkkxh7nad0vhyhtuhw3sfl43fx
GUARDIAN_POLICY_REPORTER_KEY=gas-station
GUARDIAN_POLICY_KEYRING_BACKEND=test
GUARDIAN_POLICY_CLI=
DEMO_APPROVAL_LAB_CONTRACT_ADDRESS=init1eyfccmjm6732k7wp4p6gdjwhxjwsvje44j0hfx8nkgrm8fs7vqfs4mwepz
VITE_API_BASE_URL=http://localhost:3000
VITE_GUARDIAN_RPC=http://localhost:3000/rpc
VITE_CHAIN_ID=aegis-guard
VITE_CHAIN_NAME=Guardian
VITE_CHAIN_PRETTY_NAME="Guardian Appchain"
VITE_CHAIN_RPC=http://localhost:26657
VITE_CHAIN_REST=http://localhost:1317
VITE_CHAIN_INDEXER=http://localhost:8088
VITE_CHAIN_JSON_RPC=
VITE_CHAIN_DENOM=umin
VITE_CHAIN_ASSET_NAME="Guardian Token"
VITE_CHAIN_ASSET_SYMBOL=GRD
VITE_CHAIN_ASSET_DECIMALS=6
VITE_CHAIN_VM=miniwasm
VITE_GUARDIAN_POLICY_CONTRACT_ADDRESS=init1qg5ega6dykkxc307y25pecuufrjkxkaggkkxh7nad0vhyhtuhw3sfl43fx
VITE_DEMO_RISK_LAB_CONTRACT_ADDRESS=init1zwv6feuzhy6a9wekh96cd57lsarmqlwxdypdsplw6zhfncqw6ftqjykcxd
VITE_DEMO_LIQUIDITY_LAB_CONTRACT_ADDRESS=init1ghd753shjuwexxywmgs4xz7x2q732vcnkm6h2pyv9s6ah3hylvrqwv3lxn
VITE_DEMO_APPROVAL_LAB_CONTRACT_ADDRESS=init1eyfccmjm6732k7wp4p6gdjwhxjwsvje44j0hfx8nkgrm8fs7vqfs4mwepz
VITE_DEMO_APPROVAL_SPENDER_ADDRESS=init1zwv6feuzhy6a9wekh96cd57lsarmqlwxdypdsplw6zhfncqw6ftqjykcxd
VITE_BRIDGE_SOURCE_CHAIN_ID=initiation-2
VITE_BRIDGE_SOURCE_DENOM=uinit
